table {
	border: 3px solid blue;
}

td:hover {
	background-color: yellow;
	color: black;
}

tr, th {
	background-color: purple;
	color: black;
}

tr, td {
	background-color: darkgreen;
	color: white;
}